<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= page.title %> | <%= site.title %> | Tap for Tap</title>
  <link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
  <%== site.styles %>
</head>

<body>

  <div id="header">
    <div class="navbar navbar-inverse" style="margin-bottom:7px;">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand" style="padding:5px 25px;"><img src="/images/logo-whitex30.png" alt="Tap for Tap"></a>
          <ul class="nav pull-right">
            <li class="hidden-phone"><a href="/login">Log in</a></li>
            <li class="hidden-phone"><a href="/signup">Sign up</a></li>
            <li>
              <a href="https://tapfortap.com/doc/download" class="header-button left-10">
                <i class="icon-download-alt icon-white"></i> Download SDK
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row-fluid">

      <div class="span3 hidden-phone" id="left">
        <% site.nav.each do |_, section| %>
          <div class="title"><%= section.title %></div>
          <ul class="nav nav-list">
            <% section.each do |_, item| %>
              <% next if _ == 'title' %>
              <li <%== page.url == item.url ? 'class="active"' : '' %>>
                <% if item.url %>
                  <a href="<%= item.url %>"><%= item.title %></a>
                <% else %>
                  <%= item.title %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="span9" id="container">
        <div class="inner notop" style="padding: 0px 14px 14px;">
          <div class="page">
            <div id="content">
              <%== content_for_layout %>
            </div>
          </div>
        </div>
      </div>

    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->

  <div id="footer top-30">
    <div class="container footer center">
      <table class="middle center">
        <tr>
          <td>
            <div class="inner">
              <a href="/">Home</a> &nbsp;&nbsp;
              <a href="/terms">Terms</a> &nbsp;&nbsp;
              <a href="/privacy">Privacy</a> &nbsp;&nbsp;
              <a href="/contact">Contact</a>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div id="legal" class="center top-10 text-gray bottom-20">&copy; <%= DateTime.now.year %> Tap for Tap Promotions Inc.</div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.8.2.min.js"%3E%3C/script%3E'))</script>
  <%== site.scripts %>

  <script type="text/javascript">
    // AdRoll Retargeting Pixel
    adroll_adv_id = "OXTF7RD7OBBU5NAQIMYJE5";
    adroll_pix_id = "HZN7LOE7P5FNDH7KGKJOXQ";
    (function () {
    var oldonload = window.onload;
    window.onload = function(){
      __adroll_loaded=true;
      var scr = document.createElement("script");
      var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
      scr.setAttribute('async', 'true');
      scr.type = "text/javascript";
      scr.src = host + "/j/roundtrip.js";
      ((document.getElementsByTagName('head') || [null])[0] ||
       document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
      if(oldonload){oldonload()}};
    }());
  </script>

  <script type="text/javascript">
    // Segment analytics
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
      analytics.load("LkwewUIjgcMmkQyJHODw9QXq1PbxB6M4");
      analytics.page();
    }}();
  </script>

</body>
</html>
